.items-area .items-tabs .item{
    cursor: pointer;
}
.items-area ul{
    display: flex;
    justify-content: center;
}
.items-area ul li{
    padding: 2%;
    color: white;
}

.Protfolio-gallery .Design img {
    width: 100%;

}
.Protfolio-gallery .Develop img {
    width: 100%;

}
.items-tabs .active{
    border-bottom: 1px solid var(--bg-color);
    color: var(--bg-color) !important;
}
.Protfolio-gallery .active{
    display: flex;
    flex-direction: row-reverse !important;
    
}
.active .items_g{
    animation: imageSize 1s;
}
.active2 .items_g{
    animation: imageSize 2s;
}

.Protfolio-gallery {
    display: flex;
    transition: 1s;
    min-height: 100vh;
    height: 100%;
    position: relative;
}
.Protfolio-gallery .project{
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
   
}

.Protfolio-gallery li:nth-child(2), .Protfolio-gallery li:nth-child(5){
    height: 50%;
}
.Protfolio-gallery .project .gallery_item{
    height: 400px;
    gap: 1rem;


}
.Protfolio-gallery .project .items_g{
    background-size: cover;
    background-position: top;
    height: 100%;
    transition: all 8s ease-in-out;

}
.Protfolio-gallery .project .BitCoin{
    background-image: url(../../images/bg/BdCoin.png);
   
}
.Protfolio-gallery .project .BdSoftonic{
    background-image: url(../../images/bg/BdSoftonic.png);
    
}
.Protfolio-gallery .project .HappyDiagnostic{
    background-image: url(../../images/bg/HappyDiagnostic.png);
   
}
.Protfolio-gallery .project .items_g:hover{
    background-position: bottom;
}


@keyframes imageSize {
    from{width: 0;}
    to{width: 100%;}

}