#Resume .education-work-skills .my-education, #Resume .education-work-skills .my-experience{
    width: 50%;
    color: white;
    text-align: left;
    padding: 5%;
}
#Resume .education-work-skills{
    display: flex;
}

#Resume .btn{
    border:1px solid var(--bg-color);
    padding:1%;
    margin-bottom:10px; 
    color:white;
    background-color: gray;
}

#Resume .btn:hover{
    background-color: var(--bg-color);
}