.passion-item{
    display: flex;
    width: 50%;
    height: auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
  
}

.passion-item .passion-item-icon{
    color: var(--bg-color);
    height: 100%;
    width: 30%;
    
}
.passion-item .passion-item-icon .icon-area{
    
    text-align: center;
    padding: 5%;
    background-color: black;
    border-radius: 10px;
}
.passion-item .item-text{
    text-align: left !important;
    padding-left: 5%;
    padding-right: 2%;
}
.passion-item .item-text h3{
    color: var(--bg-color)

}
.passion-item .item-text p{
    color: white;
    /* color: #fa9fd4; */

}

.passion-item .passion-item-icon .icon-area .icon {
    font-size: 40px !important;
    position: relative;
    display: inline-block;
    font-size: 1.5rem;
    padding: 15%;
    animation: iconmove 2s linear infinite;
  
  }
  .passion-item:hover .passion-item-icon .icon-area .icon{
    animation: none;
    cursor: pointer;
    color: orangered;

  }
  @keyframes iconmove {
    from { transform: rotateY(0deg); }
    to { transform: rotateY(360deg); }
  }
  
  
  