.home-page{
    background:linear-gradient( rgb(29, 28, 28, 0.7), rgb(85, 84, 84, 0.7)), url(../../../src/images/bg/973646.jpg);
    background-size: cover;
   background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    
}
/* .myPhotoTwo{
    background: url('../../images/removebg-preview2.png');
  
    background-attachment: fixed;
     background-repeat: no-repeat;
     background-position: right top;
   
     width: 100%;
     height: 100%;
} */
.mockup-phone{
    border: 2px solid var(--bg-color);
}
.home-page .home-text-area{
    color: white !important;
    position: absolute;
    text-align: center;
    vertical-align: center;
    width:50%;
    top: 20%;
    
    line-height: 100px;
}
.home-page .home-text-area span{
    font-size: 30px;
    color: var(--bg-color);
}
.home-page .home-text-area  .btn{
    
    border: 2px solid var(--bg-color);
    width: 150px;
    border-radius: 50px;
    color: white;
}

.home-page .home-text-area .btn:hover p{
    background-color: var(--bg-color);
}

.animated-icon span{
    position: absolute;
    top: 90%;
    left: 47%;
    animation: to-down 2s ease-in-out infinite;
    color: white !important;
}

@keyframes to-down{
    from{
        top:85%;
        opacity: 0.2;
    }
    to{
        top: 100%;
        opacity: 1;
    }
}

/* carousel style */
.carousel .legend{
    bottom: unset !important ;
    top: 60%;
}
 .carousel-slider, .carousel .slider{
    height: 100%;
    margin-top: 0;
    padding-top: 0;
}
.carousel .slider-wrapper{
    margin: 0 !important;
    height: 100%;
}