body{
  width: 100% !important;
}
/* color switcher */
.color-switcher{
  width: 10rem;
  position: fixed;
  background-color: lightgray;
  padding: 1rem;
  right: 0;
  top: 50%;
  transform: translate(100%, -50%);
  transition: all 0.5s ease-in-out;
  z-index: 999;
}

.color-switcher--open{
  transform: translate(0, -50%);
  
}

.heading{
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.color-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

}


.color-item{
  width: 2rem;
  height: 2rem;
  background-color: var(--bg-color);
  border-radius: 50%;
  cursor: pointer;
}
.color-switcher button{
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  color: red;
  font-size: 1.5rem;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-100%, -50%);
  display: grid;
  place-items: center;
  cursor: pointer;
 
}
.ri-settings-2-line{
  
  position: relative;
  display: inline-block;
  font-size: 1.5rem;
  animation: mymove 2s linear infinite;
}
 .Header-area header{
  background-color: #332e2e;
  
}




@keyframes mymove {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/* Navbar css */
.Header-area{
  color: var(--bg-color);
}

.title_offcanvas_section{
  font-family:"Edu AU VIC WA NT Dots", cursive;
  color: var(--bg-color);
}
.header_title_section{
  color: var(--bg-color);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}



/* Offcanvas styling */
.offcanvas {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100%; /* Initially hidden, off the screen */
  width: var(--bs-offcanvas-lg-width) !important;
  background-color: #1e1d1d !important;
  color: white;
  overflow: hidden;
  transition: left 0.3s ease;
}

/* When offcanvas is open */
.offcanvas.open {
  left: 0; /* Slide it in from the left */
}
.offcanvas-backdrop{
  display: none!important;

}
.offcanvas.offcanvas-start {
  /* top: 0;
  left: 0; */
  /* width: var(--bs-offcanvas-width); */
  /* border-right: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color); */
  /* transform: translateX(-100%); */
  border-right: none !important;
 
}


.offcanvas{
  width: var(--bs-offcanvas-lg-width);
}

.content-position-open{
  margin-left: var(--bs-offcanvas-lg-width);
}
.resize{
  margin-left: var(--bs-offcanvas-lg-width);
}




.sticky-header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
 z-index: 1000;
 transition: transform 0.3s ease;
 transform: translateY(-100%);
}

.sticky-header.active{
  transform: translateY(0);
}

/* style for header */

